[submodule "movieshift"]
	path = movieshift
	url = https://github.com/animist/videotag_movie_shift_sample.git
[submodule "shader_demo"]
	path = shader_demo
	url = https://github.com/animist/shader_demo.git
[submodule "hueslide"]
	path = hueslide
	url = https://github.com/animist/HueSlideDemo.git
